<article class="w3-article w3-margin w3-padding-0 w3-card w3-border">
	<h3 class="w3-theme-light w3-margin-0 w3-center w3-text-theme w3-padding w3-xxlarge">{{ 'CERTIFICATES' | translate }}</h3>
	<div class="w3-container w3-padding-0">
		<div class="w3-card w3-padding-left w3-padding-right">
			<h4 class="w3-border-bottom w3-padding-bottom w3-margin-bottom-0">{{ 'CERTIFICATES' | translate }} <abbr title="{{ 'CERTIFICATE_1' | translate }}">C2I</abbr></h4>
			<ul class="w3-ul w3-padding-left w3-padding-right">
				<li>Office Word, OpenOffice Writer</li>
				<li>Office Exel, OpenOffice Calc</li>
				<li>Office PowerPoint, OpenOffice Presentation</li>
			</ul>
		</div>
		<div class="w3-card w3-padding-left w3-padding-right">
			<h4 class="w3-border-bottom w3-padding-bottom w3-margin-bottom-0">{{ 'CERTIFICATES' | translate }} <abbr title="{{ 'CERTIFICATE_2' | translate }}">PCIE / ECDL</abbr></h4>
			<ul class="w3-ul w3-padding-left w3-padding-right">
				<li>Office Word</li>
				<li>Office Exel</li>
				<li>Office PowerPoint</li>
			</ul>
		</div>
		<div class="w3-card w3-padding-left w3-padding-right">
			<h4 class="w3-border-bottom w3-padding-bottom w3-margin-bottom-0">{{ 'ATTESTATION' | translate }} Cisco <abbr title="Certification Cisco Networking Academy Level 1">CCNA1</abbr></h4>
			<p class="w3-padding-left">{{ 'RESEAUX_SKILLS' | translate }}</p>
		</div>
	</div>
</article>