<article class="w3-article w3-margin w3-padding-0 w3-card w3-border">
	<h3 class="w3-theme-light w3-margin-0 w3-center w3-text-theme w3-padding w3-xxlarge">{{ 'QUALIFICATIONS' | translate }}</h3>
	<div class="w3-container w3-padding-0">
		<div class="w3-card w3-padding-left w3-padding-right">
			<h4 class="w3-border-bottom w3-padding-bottom w3-margin-bottom-0">{{ 'MASTER_2' | translate }}</h4>
			<p class="w3-padding-left w3-left"><b>{{ 'TO_1' | translate }} </b>{{ 'ISTIC' | translate }}</p>
			<p class="w3-padding-left"><b>{{ 'IN' | translate }} </b><a href="http://www.jouve.com" title="Jouve ITS">Jouve ITS</a></p>
		</div>
		<div class="w3-card w3-padding-left w3-padding-right">
			<h4 class="w3-border-bottom w3-padding-bottom w3-margin-bottom-0">{{ 'MASTER_1' | translate }}</h4>
			<p class="w3-padding-left w3-left"><b>{{ 'OBTAINED' | translate }} : </b>{{ 'JUNE' | translate }} 2014</p>
			<p class="w3-padding-left"><b>{{ 'TO_1' | translate }} </b>{{ 'ISTIC' | translate }}</p>
		</div>
		<div class="w3-card w3-padding-left w3-padding-right">
			<h4 class="w3-border-bottom w3-padding-bottom w3-margin-bottom-0">{{ 'LICENCE_3' | translate }}</h4>
			<p class="w3-padding-left w3-left"><b>{{ 'OBTAINED' | translate }} : </b>{{ 'MAY' | translate }} 2013</p>
			<p class="w3-padding-left"><b>{{ 'TO_1' | translate }} </b>{{ 'ISTIC' | translate }}</p>
		</div>
		<div class="w3-card w3-padding-left w3-padding-right">
			<h4 class="w3-border-bottom w3-padding-bottom w3-margin-bottom-0"><abbr title="{{ 'BTS' | translate }}">B.T.S.</abbr> {{ 'BTS_OPT' | translate }}</h4>
			<p class="w3-padding-left w3-left"><b>{{ 'OBTAINED' | translate }} : </b>{{ 'JUNE' | translate }} 2012</p>
			<p class="w3-padding-left"><b>{{ 'TO_2' | translate }} </b>{{ 'DE_LA_SALLE' | translate }}</p>
		</div>
		<div class="w3-card w3-padding-left w3-padding-right">
			<h4 class="w3-border-bottom w3-padding-bottom w3-margin-bottom-0">{{ 'BAC' | translate }} <abbr title="{{ 'BAC_OPT' | translate }}">M.R.I.M.</abbr></h4>
			<p class="w3-padding-left w3-left"><b>{{ 'OBTAINED' | translate }} : </b>{{ 'JUNE' | translate }} 2010</p>
			<p class="w3-padding-left"><b>{{ 'TO_2' | translate }} </b>{{ 'COETLOGON' | translate }}</p>
		</div>
		<div class="w3-card w3-padding-left w3-padding-right notPrintable">
			<h4 class="w3-border-bottom w3-padding-bottom w3-margin-bottom-0"><abbr title="{{ 'BEP' | translate }}">B.E.P.</abbr> {{ 'BEP_OPT' | translate }}</h4>
			<p class="w3-padding-left w3-left"><b>{{ 'OBTAINED' | translate }} : </b>{{ 'JUNE' | translate }} 2008</p>
			<p class="w3-padding-left"><b>{{ 'TO_2' | translate }} : </b>{{ 'PROVIDANCE' | translate }}</p>
		</div>
	</div>
</article>